// Module pour aller chercher les valeurs dans les partials _typo.scss et colors.scss
@import './typo';
@import './colors';

/* Global resets for responsiveness */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// empêche le scroll horizontal
html, body {
    overflow-x: hidden;
}

body {
    background: radial-gradient(  
            126.67% 350.28% at -17.35% 0%,
            #0c1b37 10%,
            #080808 39.1%,
            rgba(2, 20, 55, 0.838) 94.57%,
            rgba(2, 23, 64, 0) 100%);
    background-attachment: fixed;
    width: 100%; 
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'cantarell', 'sans-serif';
    font-size: 0.9em;
    color: $white;
    margin: 0;
    padding: 0;
    height: 100%;
}

// Héritage...
%titre {
    font-family: 'Panthera', 'sans relief';
    font-size: 3.125em;
    color: $gray;
}

%sous-titre {
    font-family: 'Beyno', 'sans relief';
    font-size: 1.375em;
    color: $gray;
}

%sous-titre-wakanda {
    font-family: 'Wakanda', 'sans relief';
    font-size: 1.875em;
    color: $gray;
}

%texte {
    font-family: 'cantarell', 'sans-serif';
    font-size: 0.875em; // 14px
    color: $white;
}