// padding nécessaire pour l'espacement entre le menu et la marge du haut
// &_link : & commercial pour ne pas repeter plusieurs code du design du menu  
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    
    &_brand {
      display: flex;
    }

    // .marvel:hover {
    //   cursor: pointer;
    //   color: $gray;
    // }

    &_menu {
    display: flex;
    }

    &_link {
      text-decoration: none;
      color: $white;
      margin: 0 2rem;
      padding-left: 12px;
      font-family: 'beyno', 'sans relief';
      font-size: 15px;
    }

    &_link:hover{
      text-decoration: underline;
      color: $gray;
    }
    
    &_link.active{
      border-bottom: 2px solid $gray;
      color: $gray;
    }
}

// DESIGN DU MENU RESPONSIVE
// ✅ Utilisation de media queries pour adapter le design du menu aux écrans plus petits

@media all and (max-width: 1000px) {
  .navbar {
    text-align: center;
    flex-direction: column;
    align-items: center;

    &_brand {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      img {
        max-width: 120px;
        height: auto;
      }
    }
    
    &_menu {
      flex-direction: column;
      width: 100%;
    }
    
    &_link {
      margin: 10px 0;
    }

    &_link.active{
      border-bottom: none;
    }
  }
}