@font-face {
      font-family: 'Beyno';
      src: url('../Assets/Police/BEYNO.ttf') format('truetype');
    }

@font-face {
      font-family: 'Panthera';
      src: url('../Assets/Police/PANTHERA.ttf') format('truetype');
    }

@font-face {
      font-family: 'Wakanda';
      src: url('../Assets/Police/WAKANDAFOREVER.ttf') format('truetype');
    }

@font-face {
      font-family: 'Cantarell';
      src: url('../Assets/Police/Cantarell-Regular.ttf') format('truetype');
    }
