@charset "UTF-8";
@font-face {
  font-family: "Beyno";
  src: url("../Assets/Police/BEYNO.ttf") format("truetype");
}
@font-face {
  font-family: "Panthera";
  src: url("../Assets/Police/PANTHERA.ttf") format("truetype");
}
@font-face {
  font-family: "Wakanda";
  src: url("../Assets/Police/WAKANDAFOREVER.ttf") format("truetype");
}
@font-face {
  font-family: "Cantarell";
  src: url("../Assets/Police/Cantarell-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

body {
  background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "cantarell", "sans-serif";
  font-size: 14px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  height: 100%;
}

#hero .hero_wrapper .hero_content h1 {
  font-family: "Panthera", "sans relief";
  font-size: 50px;
  color: #9e91b7;
}

#naissance .wrapper .content h2, #personnages .personnages .personnages_description h3, #hero .hero_wrapper .hero_content h2 {
  font-family: "Beyno", "sans relief";
  font-size: 22px;
  color: #9e91b7;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  width: 1100px;
}
.navbar_brand {
  display: flex;
}
.navbar_menu {
  display: flex;
}
.navbar_link {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0 2rem;
  padding-left: 12px;
  font-family: "beyno", "sans relief";
  font-size: 15px;
}
.navbar_link:hover {
  text-decoration: underline;
  color: #9e91b7;
}
.navbar_link.active {
  border-bottom: 2px solid #9e91b7;
  color: #9e91b7;
}

@media all and (max-width: 1250px) {
  .navbar {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .navbar_brand {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .navbar_brand img {
    max-width: 120px;
    height: auto;
  }
  .navbar_menu {
    flex-direction: column;
    width: 100%;
  }
  .navbar_link {
    margin: 10px 0;
  }
  .navbar_link.active {
    border-bottom: none;
  }
}
#hero {
  height: calc(100vh - 100px);
  background-image: url(../Assets/Accueil/Pantherhome1.png);
  background-repeat: no-repeat;
  background-size: 68%;
  background-position: center right;
}
#hero .hero_wrapper .hero_content {
  left: 200px;
  width: 36%;
  position: absolute;
  top: 35%;
}
#hero .hero_wrapper .hero_content h2 {
  padding: 15px 0;
}
#hero .hero_wrapper .hero_content p {
  font-size: 16px;
  margin-top: 10px;
  width: 79%;
}
#hero .hero_wrapper .hero_content a {
  display: inline-block;
  margin-top: 15Px;
  font-size: 11px;
  color: #FFFFFF;
}

.scroll .left-bar, .scroll .mini-left-bar {
  border-left: 4px solid #9e91b7;
  height: 425px;
  position: absolute;
  left: 30px;
  top: 0;
}
.scroll .mini-left-bar {
  height: 285px;
  left: 55px;
}
.scroll .social {
  display: flex;
  flex-direction: column;
  left: 45px;
  position: absolute;
  gap: 20px;
  top: 300px;
  color: #9e91b7;
}
.scroll .social:hover {
  color: #FFFFFF;
  cursor: pointer;
}

#personnages {
  background-color: #021740;
  left: 145px;
  width: 1200px;
  display: flex;
  gap: 50px;
  position: relative;
}
#personnages .personnages {
  display: flex;
  gap: 50px;
}
#personnages .personnages .carte {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: transparent;
  color: #FFFFFF;
  max-width: 700px;
}
#personnages .personnages .carte img {
  width: 200px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}
#personnages .personnages .personnages_description {
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#personnages .personnages .personnages_description h3 {
  margin-bottom: 10px;
}
#personnages .personnages .personnages_description a {
  color: #FFFFFF;
  margin-top: 6px;
}
#personnages .shuri img {
  width: 162px;
  position: absolute;
}

#naissance {
  margin: 0 auto;
  padding-top: 90px;
  padding-left: 180px;
  display: flex;
  justify-content: center;
  position: relative;
}
#naissance .wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}
#naissance .wrapper .content {
  width: 80%;
}
#naissance .wrapper .content h2 {
  padding: 20px 0;
}
#naissance .wrapper .content p {
  font-size: 14px;
  text-align: justify;
  padding: 10px 0;
}
#naissance .T’Challa-trone {
  position: absolute;
  padding-top: 5px;
  border-radius: 10px;
  right: 145px;
  z-index: 2;
}
#naissance .T’Challa-trone img {
  width: 250px;
  border-radius: 12px;
}
#naissance #T’Challa {
  background-color: #FFFFFF;
  position: relative;
  margin-top: 150px;
  padding: 230px 20px 10px 30px;
  right: 100px;
  width: 340px;
  height: 600px;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
#naissance #T’Challa .description {
  color: #000000;
  width: 410px;
  height: 600px;
}
#naissance #T’Challa .description h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-align: center;
}
#naissance #T’Challa .description .tags {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 15px;
  font-size: 0.8rem;
}
#naissance #T’Challa .description .tags span {
  background-color: #3D2DA6;
  color: white;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 4px;
}
#naissance #T’Challa .description ul {
  list-style: none;
  font-size: 0.82rem;
  padding: 0;
  text-align: left;
}
#naissance #T’Challa .description ul li {
  margin-bottom: 8px;
}
#naissance .Black-panthere {
  position: absolute;
  top: 975px;
  bottom: 90px;
  right: 40px;
  width: 30%;
}

#contact {
  background-image: url(../Assets/Accueil/Pantherhome7.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  position: relative;
  z-index: 1;
  font-family: "cantarell", "sans-serif";
}
#contact .form-container {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.984) 25%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0) 100%);
  border-radius: 150px;
  padding: 50px 40px;
  color: #000000;
  width: 1000px;
  text-align: center;
  margin: 100px auto;
}
#contact .form-container h3 {
  font-size: 11px;
  margin-bottom: 2px;
}
#contact .form-container h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
#contact .form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
#contact .form-container form input {
  background-color: transparent;
  padding: 12px 20px;
  border: 2px solid #11161e;
  border-radius: 38px;
  font-size: 14px;
  outline: none;
  width: 520px;
  height: 56px;
}
#contact .form-container form input::-moz-placeholder {
  color: #000000;
}
#contact .form-container form input::placeholder {
  color: #000000;
}
#contact .form-container form textarea {
  background-color: transparent;
  padding: 12px 20px;
  border: 2px solid #11161e;
  border-radius: 30px;
  font-size: 14px;
  outline: none;
  width: 520px;
  height: 200px;
}
#contact .form-container form textarea::-moz-placeholder {
  color: #000000;
}
#contact .form-container form textarea::placeholder {
  color: #000000;
}
#contact .form-container form button {
  background-color: #f2cef2;
  border: none;
  padding: 12px 25px;
  border-radius: 38px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#contact .form-container form button:hover {
  box-shadow: 0 0 20px #021740;
}

@media all and (max-width: 1200px) {
  #hero {
    background-size: cover;
    background-position: top center;
    background-size: 68%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #hero .hero_wrapper {
    position: relative;
  }
  #hero .hero_wrapper .hero_content {
    position: static;
    width: 90%;
    margin: 150px auto;
    text-align: center;
  }
  #hero .hero_wrapper .hero_content h1 {
    font-size: 36px;
  }
  #hero .hero_wrapper .hero_content p, #hero .hero_wrapper .hero_content a {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1250px) {
  #personnages {
    flex-direction: column;
    align-items: center;
    left: 0;
    width: 100%;
    padding: 20px;
    justify-content: center;
  }
  #personnages .personnages {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  #personnages .carte {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #personnages .carte img {
    width: 300px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 20px;
  }
  #personnages .personnages_description {
    padding: 0;
    align-items: center;
  }
  #personnages .shuri img {
    position: static;
    width: 100%;
    max-width: 250px;
  }
}
footer {
  color: #FFFFFF;
  padding: 50px 0;
  background-color: red;
  background-image: url(../Assets/Allpages/back_footer.png);
  background-position: center;
  background-size: auto;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
footer .left_side {
  background-image: url(../Assets/Allpages/back_footer1.png);
  background-size: 200px cover;
  background-repeat: no-repeat;
}
footer .left_side img {
  position: relative;
  width: 40%;
  left: -40px;
  top: 155px;
}
footer .right_side {
  padding-top: 50 px;
}
footer .right_side .pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 150px;
}
footer .right_side h2 {
  font-size: 30px;
  padding-bottom: 30px;
  letter-spacing: 4px;
}
footer .right_side .retrouvez-nous {
  text-align: center;
}
footer .right_side .retrouvez-nous img {
  padding: 0 10px;
}
footer p {
  font-size: 13px;
  padding-top: 150px;
}/*# sourceMappingURL=styles.css.map */