 /* MEDIA QUERIES */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
}
 
@font-face {
      font-family: 'Beyno';
      src: url('Beyno.ttf') format('truetype');
    }


* {
  box-sizing: border-box;
}


 body {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  background: radial-gradient(126.67% 350.28% at -21.35%
  0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64,
  0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);  
  color: #999;
}


/* largeur maximale sur écran large */
/* centre horizontalement */
/* espace sur les côtés pour petits écrans */
.wrapper { 
  max-width: 1500px; 
  margin: 0 auto;     
  padding: 0 1rem;     
  width: 100%;
} 

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  border-bottom: 1px solid #333;
}


nav a {
  color: #ccc;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: #b9a1f5;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  color: #b9a1f5;
}

.hero-text h2 {
      font-family: 'Beyno', sans-serif;
      font-size: 20px;
      letter-spacing: 3px;
      color: #df99f2;
      text-transform: uppercase;
    }

.hero-text p {
  margin: 1rem 0;
  line-height: 1.5;
} 

.link {
  color: #b9a1f5;
  text-decoration: underline;
  font-weight: bold;
}

.hero-image img {
  max-width: 400px;
}

.characters {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  gap: 1rem;
  border: #021740;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin-top: 1rem;
  color: #a58fff;
}

.origin {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 2rem;
  gap: 2rem;
}

.origin .text {
  flex: 1;
}

.origin .text h2 {
  color: #a58fff;
}

.origin .image img {
  max-width: 300px;
  border-radius: 10px;
}

/* DESIGN PAGE ENIGME */
.Dora-Milaje img{
  max-width: 400px;
}


/* DESIGNE WANKANDA */

.image-container {
      position: relative;
      width: 80%;
      max-width: 800px;
    }

    .image-container img {
      width: 100%;
      display: block;
    }

.image-container h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 3em;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
      margin: 0;
    }

div .histoire{
  display: inline;
}

/* DESIGNE FOOTER */
footer {
  text-align: center;
  padding: 1rem;
  Background: linear-gradient(180deg, #3D2DA6 0%, #021740 90.43%);
  border-top: 1px solid #333;
  color: #999;
}

