@font-face {
  font-family: "Beyno";
  src: url("../Assets/Police/BEYNO.ttf") format("truetype");
}
@font-face {
  font-family: "Panthera";
  src: url("../Assets/Police/PANTHERA.ttf") format("truetype");
}
@font-face {
  font-family: "Wakanda";
  src: url("../Assets/Police/WAKANDAFOREVER.ttf") format("truetype");
}
@font-face {
  font-family: "Cantarell";
  src: url("../Assets/Police/Cantarell-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "cantarell", "sans-serif";
  font-size: 16px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  height: 100%;
}

#hero .hero_wrapper .hero_content h1 {
  font-family: "Panthera", "sans relief";
  font-size: 50px;
  color: #9e91b7;
}

#naissance .wrapper .content h2, #personnages .text h3, #hero .hero_wrapper .hero_content h2 {
  font-family: "Beyno", "sans relief";
  font-size: 22px;
  color: #9e91b7;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.navbar_brand {
  display: flex;
}
.navbar_menu {
  display: flex;
}
.navbar_link {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0 2rem;
  padding-left: 12px;
  font-family: "beyno", "sans relief";
  font-size: 15px;
}
.navbar_link:hover {
  text-decoration: underline;
  color: #9e91b7;
}
.navbar_link.active {
  border-bottom: 2px solid #9e91b7;
  color: #9e91b7;
}

@media all and (max-width: 1000px) {
  .navbar {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .navbar_brand {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .navbar_brand img {
    max-width: 120px;
    height: auto;
  }
  .navbar_menu {
    flex-direction: column;
    width: 100%;
  }
  .navbar_link {
    margin: 10px 0;
  }
  .navbar_link.active {
    border-bottom: none;
  }
}
#hero {
  height: calc(100vh - 100px);
  background-image: url(../Assets/Accueil/Pantherhome1.png);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center right;
}
#hero .hero_wrapper .hero_content {
  left: 200px;
  width: 36%;
  position: absolute;
  top: 35%;
}
#hero .hero_wrapper .hero_content h2 {
  padding: 15px 0;
}
#hero .hero_wrapper .hero_content p {
  margin-top: 10px;
  font-size: 11px;
  width: 68%;
}
#hero .hero_wrapper .hero_content a {
  display: inline-block;
  margin-top: 15Px;
  font-size: 11px;
  color: #FFFFFF;
}

.scroll .left-bar, .scroll .mini-left-bar {
  border-left: 4px solid #9e91b7;
  height: 425px;
  position: absolute;
  left: 30px;
  top: 0;
}
.scroll .mini-left-bar {
  height: 285px;
  left: 55px;
}
.scroll .social {
  display: flex;
  flex-direction: column;
  left: 45px;
  position: absolute;
  gap: 20px;
  top: 300px;
  color: #9e91b7;
}
.scroll .social:hover {
  color: #FFFFFF;
  cursor: pointer;
}

#personnages {
  padding: 0 auto;
  background-color: #021740;
}
#personnages .carte {
  display: inline-flex;
  width: 250px;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}
#personnages .description {
  display: flex;
  justify-content: center; /* Centre les images */
  gap: 70px;
  margin: 0 auto;
  align-items: center;
}
#personnages .text, #personnages img {
  padding: 0 10px;
}
#personnages .text h3 {
  padding-top: 40px;
}
#personnages .text p,
#personnages .text a {
  font-size: 12px;
  color: #FFFFFF;
  text-align: justify;
  padding: 5px 0;
}
#personnages img {
  margin: 0 20px;
}
#personnages img:first-child {
  transform: scale(1.2);
  padding-left: 30px;
}

#naissance .wrapper {
  display: flex;
  justify-content: space-between;
}
#naissance .wrapper .content {
  width: 50%;
}
#naissance .wrapper .content h2 {
  padding: 20px 0;
}
#naissance .wrapper .content p {
  font-size: 14px;
  text-align: justify;
  padding: 10px 0;
}

@media screen and (max-width: 1000px) {
  #hero {
    background-size: cover;
    background-position: top center;
    background-size: 65%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #hero .hero_wrapper {
    position: relative;
  }
  #hero .hero_wrapper .hero_content {
    position: static;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    top: auto;
    left: auto;
  }
  #hero .hero_wrapper .hero_content p, #hero .hero_wrapper .hero_content a {
    margin-left: auto;
    margin-right: auto;
  }
}
footer {
  color: #FFFFFF;
  padding: 50px 0;
  background-color: red;
  background-image: url(../Assets/Allpages/back_footer.png);
  background-position: center;
  background-size: auto;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
footer .left_side {
  background-image: url(../Assets/Allpages/back_footer1.png);
  background-size: 200px cover;
  background-repeat: no-repeat;
}
footer .left_side img {
  position: relative;
  width: 40%;
  left: -40px;
  top: 155px;
}
footer .right_side {
  padding-top: 50 px;
}
footer .right_side .pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 150px;
}
footer .right_side h2 {
  font-size: 30px;
  padding-bottom: 30px;
  letter-spacing: 4px;
}
footer .right_side .retrouvez-nous {
  text-align: center;
}
footer .right_side .retrouvez-nous img {
  padding: 0 10px;
}
footer p {
  font-size: 13px;
  padding-top: 150px;
}/*# sourceMappingURL=styles.css.map */